@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.title {
  font-family: "Pacifico", cursive;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 768px) {
  .col-md-w {
    max-width: 440px;
  }
}
@media (min-width: 640px) {
  .post-width {
    max-width: 658px;
  }
}

.sidebar {
  max-width: 293px;
}

.sticky-top {
  top: 5.125rem;
}

.globalnav {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.cont-main {
  width: 100%;
}

.container {
  max-width: 967px;
}

.form-control {
  border: 2px solid #ced4da;
  background-color: rgba(255, 255, 255, 0.65);
}

.form-control:focus {
  color: #636464;
  background-color: #fff;
  border-color: #636464;
  border: 2px solid;
  box-shadow: none;
}

.nav-height {
  height: 3.625rem;
}
.filter-loading {
  filter: contrast(0%);
}

.avator {
  height: 2rem;
  width: 2rem;
  border: 2px solid rgb(185, 185, 185);
}

.loader {
  border: 4px solid #b7e8ff;
  border-radius: 50%;
  border-top: 4px solid #247db9;
  width: 21px;
  height: 21px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  padding: 0px;

  margin-top: 1rem;
  margin-left: -8rem;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #c8c8c8;
}
